//!!!!!!!!!!!!!!!!!!!!!!!!!GUEST!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!




// MARKER PER MAPPA IN SHOW
#marker {
    background-image: url('https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png');
    background-size: contain;
    width: 60px;
    height: 60px;
  }
