// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// backgrounds
// @import 'backgroundsgrid';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

main.py-4, main.pt-4, main.pb-4  {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}
.float {
  padding: 10px;
}

.TOP_MAIN {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow {
  background-color:  lightyellow;
}

.our_results, .tomtom_results , .SPONSORIZED {
    padding: 10px;
}

.our_results , .SPONSORIZED{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.apartment_result {
    padding: 20px;
    width: 275px;
}
.tomtom_results {
    background-color: whitesmoke;
}

.disabled {
  display: none;
}

p {
    margin-bottom: 0;
}


input, button {
    margin: 10px 10px;
}

h3 {
    color: red;
}

#marker {
    background-image: url('https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png');
    background-size: contain;
    width: 60px;
    height: 60px;
  }

  #map {
      margin: auto;
  }


  #ricerca_user {
      color: black;
      padding: 20px;
  }

  .apartment-disabled {
      background-color: grey;
      opacity: 0.6;
  }
