// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// VIEWS STYLES !!!!!!!!!!!!!!!!!
@import 'homepage';
@import 'guest/guestshow';
@import 'auth/auth';
@import 'admin/admin';



// backgrounds
@import 'backgroundsgrid';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: MintCream;
    height: 100vh;
    width: 100%;
}

// RECURRING DISABLED CLASSES //

.disabled {
  display: none;
}

.apartment-disabled {
    background-color: grey;
    opacity: 0.6;
}

// MEDIA QUERY PERSONALIZZATE
@media (min-width: 1380px){
.container {
    max-width: 1300px;
}}

@media (min-width: 1580px){
.container {
    max-width: 1460px;
}}

@media (min-width: 1710px){
.container {
    max-width: 1620px;
}}
