// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Animations
@import 'animations';

// VIEWS STYLES !!!!!!!!!!!!!!!!!
@import 'homepage';
@import 'guest/guestshow';
@import 'auth/auth';
@import 'admin/admin';




// backgrounds
@import 'backgroundsgrid';


// Appartment bug fix
@import 'test';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

main {
  font-family: 'Roboto Slab', serif;
  z-index: 9999!important;
}

header {
  // background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
  background-size: cover;
  background-position: center;
}
// ELEMENTI HEADER

.navbar-brand , .nav-link   {
  color: white!important;
  font-size: 20px;
}

.dropdown-item {
  color: white;
  font-size: 16px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b!important;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-menu-user {
  background-color:#ff385c !important;
}

.fa-home , .fa-user , .nav-link-register {
  color: #ff385c !important;
}

.fa-home {
  font-size: 22px;
}

.header-log-home {
  background-color: lightblue;
}

// RECURRING DISABLED CLASSES //

.disabled {
  display: none!important;
}

.apartment-disabled {
    background-color: grey;
    opacity: 0.6;
}
