.yellow {
  background-color: lightyellow;
}

.green {
  background-color: lightgreen;
}

.pink {
  background-color: lightpink;
}

.blue {
  background-color: lightblue;
}

.gray {
  background-color: lightgray;
}

.brown {
  background-color: AntiqueWhite;
}

.greensea {
  background-color: LightSeaGreen;
}

.MistyRose {
  background-color: MistyRose;
}

.Wheat {
  background-color: Wheat;
}

.Wheat {
  background-color: Moccasin;
}

// fonts

.green-text {
 color: #007b5e!important;
}

.green-text-bold {
 font-weight:bolder;
}

.green-text-light {
 color: rgba(0, 123, 94, 0.5);
}

.green-background {
  background-color: #007b5e!important;
}

.green-border {
  border-color: #007b5e!important;
}
// font-size
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;
