.yellow {
  background-color: lightyellow;
}

.green {
  background-color: lightgreen;
}

.pink {
  background-color: lightpink;
}

.blue {
  background-color: lightblue;
}

.gray {
  background-color: lightgray;
}

.brown {
  background-color: AntiqueWhite;
}

.greensea {
  background-color: LightSeaGreen;
}

.MistyRose {
  background-color: MistyRose;
}

.Wheat {
  background-color: Wheat;
}

.Wheat {
  background-color: Moccasin;
}

// fonts

.icons-h1 {
  font-size: 2.5rem;
}

.green-text {
 color: #007b5e!important;
}

.brown-text {
 color: SaddleBrown!important;
}

.white-text {
 color: snow!important;
}

.green-text-bold {
 font-weight:bolder;
}

.border-apartment {
  padding: 50px 100px;
}

.green-text-light {
 color: rgba(0, 123, 94, 0.5);
}

.green-background-light {
 background-color: rgba(0, 123, 94, 0.65)!important;
 border: 0;
}

.green-background-light:hover {
 background-color: rgba(0, 123, 94, 1)!important;
}

.green-background {
  background-color: #007b5e!important;
}

.white-background {
  background-color: #fff!important;
}

.green-border {
  border-color: #007b5e!important;
}
// font-size
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;
