//!!!!!!!!!!!!!!!!!!!!!HOMEPAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

//   !!!!!!!!!!!!!!!  INPUTS  AND IDS  !!!!!!!!!!!

#ricerca_user {
  margin-bottom: 0!important;
}

#button_search {
  background: rgb(255, 56, 92) !important;
  border: 0px ;
  margin: 0px ;
  border-radius: 24px;
  height: 48px !important;
  color: white;
  padding: 12px;
  margin-left: 20px;
}

#button_search:focus {
    outline: none!important;
}

#input {
  border: 1px solid rgb(221, 221, 221) !important;
  border-radius: 32px !important;
  padding: 10px 20px;
  width: 35%;
}

.input_search {
  width: 100%;
}


//   !!!!!!!!!!!!!!!  JUMBOTRON AND RESULTS  !!!!!!!!!!!

.jumbotron {
  margin-bottom: 0!important;
  background: transparent!important;
}

.searchedinputresult{
  width: 100%;
}

.tomtom_results {
  top: 10px!important;
  padding: 10px!important;
  border-radius: 15px !important;
}

.apartment_result , .apartment_result-sponsored{
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
  height: 400px;
        .card-img {
          width: 400px;
          height: 300px;
        }
        img {
          width: 400px;
          height: 300px;
        }
        .card-body {
          height: 300px;
        }
}





.apartment_result-sponsored {
  background-color: lightyellow!important;
}

// !!!!!!!!  SECTION FIRST  !!!!!!!! //
.section-first-container {
  padding: 50px 0px;
}

.section-first-l , .section-first-d , .section-first-long{
  height: 350px;
  div {
  }
}

.section-first-l {
  background-image: url(https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/101273481_2905790046203982_2909085992163999744_o.jpg?_nc_cat=101&_nc_sid=730e14&_nc_ohc=jXwzhueosT4AX92ZhaU&_nc_ht=scontent-mxp1-1.xx&oh=e7cf049461c357c3995036f68aa66c82&oe=5F8981C5);
  background-size: cover;
  background-position: center;
  border-radius: 40px 7px 40px 0px;
}
.section-first-d {
   .descript {
     height: 100%;
     .descript-title {
       font-size: 42px !important;
        line-height: 36px !important;
     }
     .descript-text {
        padding:0px  50px;
        font-size: 22px !important;
        line-height: 22px !important;
     }
   }
}



// !!!!!!!!  CAROUSEL  !!!!!!!! //

.carousel_container {
  padding: 10px 0px 10px;



  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

// !!!!!!!! END CAROUSEL  !!!!!!!! //
