//!!!!!!!!!!!!!!!!!!!!!HOMEPAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

//   !!!!!!!!!!!!!!!  INPUTS  AND IDS  !!!!!!!!!!!
button:focus {
     outline:none!important;
}

.btn {
  background-color: #007b5e!important;
  border-color: #007b5e!important;
}

.btn:focus {
  box-shadow: none!important;
}

#ricerca_user {
  margin-bottom: 0!important;
  line-height: 80px;
}

#button_search {
  background:#007b5e !important;
  border: 0px ;
  margin: 0px ;
  border-radius: 24px;
  height: 48px !important;
  color: white;
  padding: 12px;
  margin-left: 20px;
}

#go {
  background: #007b5e !important;
  border: 0px;
  margin: 0px;
  border-radius: 24px;
  height: 48px !important;
  color: white;
  padding: 12px;
}

#button_search:focus {
    outline: none!important;
}

#input {
  border: 1px solid rgb(221, 221, 221) !important;
  border-radius: 32px !important;
  padding: 10px 20px;
  width: 35%;
}

#input:focus {
  outline: none!important;
}
.input_searc
h {
  width: 100%;
}
// BOTTONE

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

//   !!!!!!!!!!!!!!!  JUMBOTRON AND RESULTS  !!!!!!!!!!!

.jumbotron {
  margin-bottom: 0!important;
  background: transparent!important;
}

.searchedinputresult{
  width: 100%;
}

.tomtom_results {
  top: 10px!important;
  padding: 10px!important;
  border-radius: 15px !important;
}




// !!!!!!!!  SECTION FIRST  !!!!!!!! //
.section-first-container {
  padding: 50px 0px;
}

.section-first-l , .section-first-d , .section-first-long{
  height: 350px;
  div {
  }
}

.section-first-l-img {
  background-image: url(https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/101273481_2905790046203982_2909085992163999744_o.jpg?_nc_cat=101&_nc_sid=730e14&_nc_ohc=jXwzhueosT4AX92ZhaU&_nc_ht=scontent-mxp1-1.xx&oh=e7cf049461c357c3995036f68aa66c82&oe=5F8981C5);
  background-size: cover;
  background-position: center;
  border-radius: 40px 7px 40px 0px;
  width: 100%;
  height: 100%;
}

.section-first-d {
   .descript {
     height: 100%;
     .descript-title {
       font-size: 42px !important;
        line-height: 36px !important;
     }
     .descript-text {
        padding:0px  50px;
        font-size: 22px !important;
        line-height: 22px !important;
     }
   }
}

// RISULTATI PER : ricerca-user //

.results-for-p {
  padding: 10px ;
  font-weight: lighter;

  .results-for-span {
    font-size: 20px;
    font-style: italic;
  }
}


// !!!!!!!!!SECTION SECOND!!!!!!!!
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#007b5e;
	margin-bottom:50px;
	text-transform:uppercase;
}

#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;

}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;

}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
// !!!!!!!!!SECTION SECOND!!!!!!!!


// !!!!!!!!  CAROUSEL  !!!!!!!! //


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  border-radius: 15px;
  background-color: black!important;
  height: 27rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  opacity: 0.73;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

// !!!!!!!! END CAROUSEL  !!!!!!!! //
