.font-size-i {
  font-size: 20px!important;
}

#sponsored {
  border-radius:  0px!important;
}
.services-height {
  max-height: 110px!important;
}

.unique-style {

  .apt-services {
    max-width: 100%;
  }
}

.index-container {
  border-radius: 15px;
  img {
    max-width: 70%;
    position: relative;
    border-radius: 0px 40px 0px 40px;
  }
}

#price-tag {
  font-size: 40px;
  background: rgb(0,0,0);
  background: linear-gradient(25deg, rgba(0,0,0,0.4990371148459384) 0%, rgba(0,0,0,0.5) 100%);
  padding:  15px;
  border-radius: 15px;
  vertical-align: middle;

}

.no-hoover:hover {
  text-decoration: none;
}

#delete {
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid darkred!important;
}


.index-admin-container {
  background-color: #d4edda;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.no-margins {
  .row {
    margin: 0px!important;
  }
}
