//!!!!!!!!!!!!!!!!!!!!!!!!!AUTH!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 25px;
  margin: auto;
  border: 5px solid #007b5e;
  overflow: auto;
  background-color:  snow;
    z-index: 99999999999;
}
.form-stefano-ti-odio {
  border: 5px solid #007b5e;
  padding: 50px  150px;
}
.form-register {
  width: 100%;
  max-width: 630px;
  max-height: 90%;
  padding: 25px;
  margin: auto;
  border: 5px solid #007b5e;
  overflow: auto;
  background-color:  snow;
    z-index: 99999999999;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.body-auth {
  height: 100vh;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color:   #ecd7be;
  font-family: 'Roboto', sans-serif;
  z-index: 99999999999;
}

.body-auth {
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#fa-home-iccon-login {
  font-size: 75px;
}

#login-register-btn {
  margin: 10px;
}
